:host {
  background-color: var(--surface-2);
  padding-block: var(--space-xs);
  box-shadow: var(--shadow-s);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-s);

  h1 {
    flex: 1;
    max-inline-size: none;
    font-size: var(--step-1);
  }
}
