:host {
  display: contents;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--size-4);
  padding: var(--size-3);

  h1 {
    flex: 1;
    max-inline-size: none;
    font-size: var(--font-size-1);
  }
}
