dialog {
  --flow-space: var(--space-xs);

  padding: var(--space-s);
  border-radius: var(--radius-lg);
  border: none;
  box-shadow: var(--shadow-m);
  background-color: var(--surface-3);
  inline-size: min(60ch, 100%);
  margin: auto;

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(0.125rem);
  }

  h2 {
    font-size: var(--step-1);
  }

  .dialog-actions {
    justify-content: flex-end;
    gap: var(--space-xs);
    margin-top: var(--space-s);
  }
}
