:host {
  display: contents;
}

main {
  grid-row: 1 / -1;
  place-self: center;
}

form {
  justify-self: center;

  display: grid;
  gap: var(--space-xs);
  max-inline-size: 40ch;
  background-color: var(--surface-2);
  padding: var(--space-s);
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-s);
  color: var(--text-muted);

  > div {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-s);

    > input {
      flex: 1;
    }
  }
}
