:host {
  display: contents;
}

main {
  grid-row: 1 / -1;
  place-self: center;
}

form {
  justify-self: center;

  display: grid;
  gap: var(--space-xs);
  max-inline-size: 40ch;
  background-color: var(--surface-2);
  padding: var(--space-s);
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-s);
  color: var(--text-muted);

  > div {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-s);

    > input {
      flex: 1;
    }
  }
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
}

.aap,
.noot,
.mies {
  padding: 1rem;
  background-color: var(--surface-3);
  border-radius: 0.5rem;
  flex: 1;
  text-align: center;
}

.aap {
  box-shadow: var(--shadow-s);
}

.noot {
  box-shadow: var(--shadow-m);
}

.mies {
  box-shadow: var(--shadow-l);
}

.primary {
  background-color: var(--primary);
  /* color: contrast-color(var(--primary)); */
  color: var(--text-light);
  padding: 1rem;
  border-radius: 0.5rem;
  flex: 1;
  text-align: center;
}

.primary-light {
  background-color: var(--primary-light);
  /* color: contrast-color(var(--primary-light)); */
  color: var(--text-light);
  padding: 1rem;
  border-radius: 0.5rem;
  flex: 1;
  text-align: center;
}
