[color-scheme='light']::selection {
  background-color: hsl(from hsl(338 73% 45%) h s l / 0.25);
}

[color-scheme='dark']::selection {
  background-color: hsl(from hsl(338 73% 45%) h s l / 0.5);
}

b,
strong,
.bold {
  font-weight: var(--fw-semibold);
}

i,
em,
.italic {
  font-style: italic;
  font-weight: var(--fw-normal);
  /* Stylistic Sets for R */
  font-feature-settings: 'ss05' on;
}

.ff-sans {
  font-family: 'Instrument Sans', sans-serif;
}

.ff-serif {
  font-family: 'Hedvig Letters Serif', serif;
}

.fs-5 {
  font-size: var(--fs-5);
}
.fs-4 {
  font-size: var(--fs-4);
}
.fs-3 {
  font-size: var(--fs-3);
}
.fs-2 {
  font-size: var(--fs-2);
}
.fs-1 {
  font-size: var(--fs-1);
}
.fs-0 {
  font-size: var(--fs-0);
}
.fs--1 {
  font-size: var(--fs--1);
}
.fs--2 {
  font-size: var(--fs--2);
}

.underline {
  text-decoration: underline;
}

.text-center {
  text-align: center;
}

.letter-spacing {
  --ls: calc(var(--letter-spacing, 0) * 0.01em);

  letter-spacing: var(--ls);
}

code {
  display: inline-flex;
  padding-inline: 0.25ch;
  background-color: var(--color-primary-400);
  color: hsl(from var(--color-neutral-100) h s 100%);
  font-size: 80%;
  font-family:
    Consolas,
    Monaco,
    Lucida Console,
    Liberation Mono,
    DejaVu Sans Mono,
    Bitstream Vera Sans Mono,
    Courier New;
}

pre {
  min-width: 0;
  overflow-x: auto;
  padding: var(--gutter);
  background-color: color-mix(in hsl, var(--text), transparent 90%);
  border-radius: 0.25rem;

  @container cq-document-vi (inline-size < 37.5rem) {
    margin-inline: calc(var(--gutter) * -1);
  }

  > code {
    color: color-mix(in hsl, var(--surface), var(--text) 65%);
    background-color: transparent;
    font-family: 'FontWithASyntaxHighlighter', monospace;
    font-palette: --kung-fury-dark;

    [color-scheme='light'] & {
      font-palette: --kung-fury-light;
    }
  }
}

/* Markdown content styles */
.prose {
  h2,
  h3,
  h4 {
    --flow-space: 1.5em;

    font-family: var(--ff-serif);
    line-height: 1.25;
  }

  h2 {
    font-size: var(--fs-3);
  }

  h3 {
    font-size: var(--fs-2);
  }

  h4 {
    font-size: var(--fs-1);
  }

  ol,
  ul {
    --flow-space: 0.5em;
  }

  > p:first-of-type {
    font-family: var(--ff-serif);
    font-size: var(--fs-1);
  }
}

/* 0 keywords, {} */
/* 1 comments */
/* 2 literals */
/* 3 numbers */
/* 4 functions, [] */
/* 5 js others */
/* 6 not in use */
/* 7 inside quotes, css properties, few chars */
/* 8 few chars */
@font-palette-values --kung-fury-light {
  font-family: 'FontWithASyntaxHighlighter';
  override-colors:
    0 hsl(225 100% 40%),
    1 hsl(250 100% 80%),
    2 hsl(225 100% 40%),
    3 hsl(225 100% 40%),
    4 hsl(270 50% 40%),
    5 hsl(210 40% 2%),
    7 hsl(210 10% 30%),
    8 hsl(327 100% 54%);
}

@font-palette-values --kung-fury-dark {
  font-family: 'FontWithASyntaxHighlighter';
  override-colors:
    0 hsl(188 100% 75%),
    1 hsl(250 100% 80%),
    2 hsl(188 100% 75%),
    3 hsl(188 100% 75%),
    4 hsl(250 100% 80%),
    5 hsl(210 40% 98%),
    7 hsl(210 40% 80%),
    8 hsl(300 100% 80%);
}
