:host {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-3);
  justify-content: center;
}

button {
  display: grid;
  place-items: center;
  padding: 0;
  font-size: var(--font-size-5);
  background-color: var(--surface-2);
  border-color: var(--surface-2);
  cursor: pointer;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
  aspect-ratio: 3/4;
  max-inline-size: 6rem;
  inline-size: 100%;
}
