:host {
  display: grid;
  gap: var(--size-4);
}

table {
  --nice-inner-radius: calc(var(--radius-2) - 2px);

  background: var(--surface-2);
  border: none;
  border-radius: var(--radius-2);
  inline-size: auto;

  tr > :first-child {
    text-align: start;
  }
}
