@layer --reset, --base, --compositions, --blocks, --utils;

@import 'global/reset.css' layer(--reset);

@import 'global/variables.css' layer(--base);
@import 'global/fluid-space.css' layer(--base);
@import 'global/fluid-type.css' layer(--base);
@import 'global/global-styles.css' layer(--base);

@import 'compositions/dialog.css' layer(--compositions);
@import 'compositions/grid.css' layer(--compositions);
@import 'compositions/flex.css' layer(--compositions);
@import 'compositions/tooltip.css' layer(--compositions);

@import 'utilities/flow.css' layer(--utils.--flow);
@import 'utilities/sr-only.css' layer(--utils.--sr-only);
