@layer --openprops, --base, --utils;

@import 'open-props/style' layer(--openprops);

/* optional imports that use the props */
@import 'open-props/normalize' layer(--openprops.normalize);
@import 'open-props/buttons' layer(--openprops.buttons);

@import './utils/wrapper.css' layer(--utils);

@layer --base {
  app-root,
  router-outlet {
    display: contents;
  }

  body {
    background-color: red;
  }
}
