/* @link https://utopia.fyi/space/calculator?c=400,16,1.2,1200,24,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,&g=s,l,xl,12 */

:root {
  @utopia spaceScale({
    minSize: 16,
    maxSize: 24,
    positiveSteps: [1.5, 2, 3, 4, 6],
    negativeSteps: [0.75, 0.5, 0.25],
    customSizes: [],
    prefix: "space",
    relativeTo: "container",
  });
}
