@font-face {
  font-family: 'Instrument Sans';
  src: url('/fonts/InstrumentSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-stretch: 100%;
  font-display: swap;
  unicode-range: U+0020-007E, U+00A0-00A3, U+00A5, U+00A7-00AB, U+00AE-00B0, U+00B4, U+00B6-00B8,
    U+00BA-00BB, U+00BF-0107, U+010A-0113, U+0116-011B, U+011E-0123, U+0126-0127, U+012A-012B,
    U+012E-0133, U+0136-0137, U+0139-013E, U+0141-0148, U+014A-014D, U+0150-015B, U+015E-0161,
    U+0164-0165, U+016A-017E, U+01CD-01CE, U+0218-021B, U+0237, U+02C6-02C7, U+02D8-02DD,
    U+0300-0304, U+0306-0308, U+030A-030C, U+0312, U+0326-0328, U+1E80-1E85, U+1E9E, U+1EF2-1EF3,
    U+2013-2014, U+2018-201A, U+201C-201E, U+2022, U+2026, U+2030, U+2039-203A, U+20AC, U+2122,
    U+2190-2199, U+2212;
}

@font-face {
  font-family: 'Instrument Sans';
  src: url('/fonts/InstrumentSans-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-stretch: 100%;
  font-display: swap;
  unicode-range: U+0020-007E, U+00A0-00A3, U+00A5, U+00A7-00AB, U+00AE-00B0, U+00B4, U+00B6-00B8,
    U+00BA-00BB, U+00BF-0107, U+010A-0113, U+0116-011B, U+011E-0123, U+0126-0127, U+012A-012B,
    U+012E-0133, U+0136-0137, U+0139-013E, U+0141-0148, U+014A-014D, U+0150-015B, U+015E-0161,
    U+0164-0165, U+016A-017E, U+01CD-01CE, U+0218-021B, U+0237, U+02C6-02C7, U+02D8-02DD,
    U+0300-0304, U+0306-0308, U+030A-030C, U+0312, U+0326-0328, U+1E80-1E85, U+1E9E, U+1EF2-1EF3,
    U+2013-2014, U+2018-201A, U+201C-201E, U+2022, U+2026, U+2030, U+2039-203A, U+20AC, U+2122,
    U+2190-2199, U+2212;
}

@font-face {
  font-family: 'Hedvig Letters Serif';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/HedvigLettersSerif-Regular.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304,
    U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'FontWithASyntaxHighlighter';
  src: url('/fonts/FontWithASyntaxHighlighter-Regular.woff2') format('woff2');
  font-display: swap;
}
