:root {
  --hue: 253;
  --hue-light: 240;

  --primary: light-dark(oklch(0.32 0.1 var(--hue)), oklch(0.42 0.1 var(--hue)));
  --primary-light: light-dark(oklch(0.5 0.1 var(--hue-light)), oklch(0.6 0.1 var(--hue-light)));

  --text-light: oklch(0.96 0.01 var(--hue));
  --text-dark: oklch(0.15 0.01 var(--hue));

  --text-light-muted: oklch(0.76 0.01 var(--hue));
  --text-dark-muted: oklch(0.4 0.01 var(--hue));

  --text: light-dark(var(--text-dark), var(--text-light));
  --text-muted: light-dark(var(--text-dark-muted), var(--text-light-muted));

  --surface-1: light-dark(oklch(0.92 0.005 var(--hue)), oklch(0.1 0.005 var(--hue)));
  --surface-2: light-dark(oklch(0.96 0.005 var(--hue)), oklch(0.2 0.005 var(--hue)));
  --surface-3: light-dark(oklch(1 0.005 var(--hue)), oklch(0.3 0.005 var(--hue)));

  --gradient: linear-gradient(0deg, var(--surface-2) 95%, var(--surface-3));
  --gradient-hover: linear-gradient(0deg, var(--surface-2), var(--surface-3));

  --highlight: light-dark(oklch(1 0.01 var(--hue)), oklch(0.5 0.01 var(--hue)));
  --border: light-dark(oklch(0.6 0.01 var(--hue)), oklch(0.4 0.01 var(--hue)));
  --border-muted: light-dark(oklch(0.75 0.01 var(--hue)), oklch(0.35 0.01 var(--hue)));

  --shadow-s: inset 0 1px 2px #ffffff30, /* top highlight */ 0 1px 2px #00000030,
    /* dark shadow */ 0 2px 4px #00000015; /* soft shadow */
  --shadow-m: inset 0 1px 2px #ffffff30, /* top highlight */ 0 2px 4px #00000030,
    /* dark shadow */ 0 4px 8px #00000015; /* soft shadow */
  --shadow-l: inset 0 1px 2px #ffffff30, /* top highlight */ 0 4px 6px #00000030,
    /* dark shadow */ 0 6px 10px #00000015; /* soft shadow */

  /* typography */
  --ff-sans: system-ui;
  --ff-serif: 'Hedvig Letters Serif', serif;

  --fw-normal: 400;
  --fw-semibold: 600;

  --lh-small: 1;
  --lh-thight: 1.25;
  --lh-normal: 1.5;
  --lh-loose: 1.75;

  /* Easings */
  --ease: cubic-bezier(0.25, 0, 0.3, 1);
  --ease-out: cubic-bezier(0, 0, 0, 1);
  --ease-elastic-1: cubic-bezier(0.5, 1.25, 0.75, 1.25);
  --ease-elastic-2: cubic-bezier(0.5, 1.5, 0.75, 1.25);

  /* main constrain */
  --constrain-lg: 87rem;
  --constrain-md: 69rem;
  --constrain-sm: 57rem;
  --constrain-xs: 51rem;

  --gutter: 1.5rem;

  /* radius */
  --radius-xs: 0.25rem;
  --radius-sm: 0.5rem;
  --radius-md: 1rem;
  --radius-lg: 1.5rem;
  --radius-pill: 100vb;
}
